.exit-card {
  width: 600px;
  max-width: 90%;
  background: #1a023f;
  border-radius: 14px;
  padding: 40px;
  text-align: center;
  border: 2px solid;
  border-image: linear-gradient(45deg, #00ffff, #ff00ff) 1;
  box-shadow: 0 0 15px #00ffff, 0 0 30px #ff00ff;
}

.quote {
  margin: 15px 0;
  font-size: 22px;
  color: #fff;
  text-shadow: 0 0 8px #00ffff, 0 0 12px #ff00ff;
}